
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    height: 100vh;
    width: 100vw;
    background-image: url("img/kai-pilger-Ef6iL87-vOA-unsplash.jpg");
    background-size:cover;
    position: relative; 
    overflow: hidden;

    
}
main > div {
    position:relative;
}

/* ----------------------------------- vuurwerk potten --------------------------------------- */

main section:first-of-type div:first-of-type p {
    font-size: 3.5vw;
   text-align: center;
   padding-top: 2vmin;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: darkblue;

}

/* pot blauw  */

main section:first-of-type > div:first-of-type{
    height: 15vmin;
    width: 20vmin;
    position: absolute;
    bottom: 0; 
}

main section:first-of-type > div:first-of-type div {
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    height: 15vmin;
    width: 20vmin;
    background-color:aqua;
    position: absolute;
    bottom: 0;

 }

 main section:first-of-type > div:first-of-type:hover div {
    animation-name: pijlblauw-animation;
    animation-duration:2.5s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    background:darkblue; 
}

 /* pot blauw  animation */
 @keyframes pijlblauw-animation {
    0% { 
        transform: translate(0, 0); 
        clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    }
    1%{
        clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    }
    100% { 
        transform: translate(0, -50vh); 
        clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    }
  }



 /* ------------------ vuurwerk 3 blauw -------------------- */

 

main section:first-of-type div:nth-of-type(2) {
    position:absolute;
    top:30vh;
    left:7vw;
}
main section:first-of-type div:nth-of-type(2) div {
    position:absolute;
    left: -2px;
    bottom: 0;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
    transform: rotate(calc(30deg*var(--index))) translateY(-15px);

}

main section:first-of-type div:nth-of-type(2) div:nth-child(2n) {
    height:80px;
}

main section:first-of-type div:nth-of-type(2) div:first-child {
    --index:0;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(2) {
    --index:1;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(3) {
    --index:2;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(4) {
    --index:3;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(5) {
    --index:4;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(6) {
    --index:5;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(7) {
    --index:6;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(8) {
    --index:7;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(9) {
    --index:8;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(10) {
    --index:9;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(11) {
    --index:10;
}

main section:first-of-type div:nth-of-type(2) div:nth-child(12) {
    --index:11;
}

main section:first-of-type div:nth-of-type(2) div {
    content:'';
    position: absolute;
    left: 0;
    right:0;
    height:40px;
    background-color:rgb(17, 0, 255);
    animation: explosie3 2.5s ease-in-out infinite;
}


main section:first-of-type div:nth-of-type(2) div:nth-child(2n)::before{
    background-color: aqua;
    height:100%;
}


@keyframes explosie3 {
    0% {
        top: 100%;
    }
    33%, 100% {
        top:-100%;
    }
}


 /* pot rood  */

/* main ul li:nth-of-type(2) div:first-of-type {
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    height: 15vmin;
    width: 20vmin;
    background:red; */
 

 /* pot rood  animation */
 /* @keyframes pijlrood-animation {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -70vh); }
  }

main ul li:nth-of-type(2):hover div:first-of-type {
    animation-name:pijlrood-animation;
    animation-duration:0.25s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    height: 15vmin;
    width: 20vmin;
    background:darkred;

 } */

 /* pot geel  */

 /* main ul li:nth-of-type(3) div:first-of-type {
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    height: 15vmin;
    width: 20vmin;
    background:yellow; 
 } 

 /* pot geel  animation */
 /* @keyframes pijlgeel-animation {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -50vh); }
  }

main ul li:nth-of-type(3):hover div:first-of-type {
    animation-name:pijlgeel-animation;
    animation-duration:0.25s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    height: 15vmin;
    width: 20vmin;
    background:rgb(138, 107, 21);

 } */

 /* pot groen  */

 /* main ul li:nth-of-type(4) div:first-of-type {
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    height: 15vmin;
    width: 20vmin;
    background:green;
 }
 
 @keyframes pijlgroen-animation {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -50vh); }
  }

 main ul li:nth-of-type(4):hover div:first-of-type {
    animation-name:pijlgroen-animation;
    animation-duration:0.25s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    height: 15vmin;
    width: 20vmin;
    background:rgb(9, 46, 9);

 } */

/* pot pink  */

 /* main ul li:nth-of-type(5) div:first-of-type {
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    clip-path: polygon(0 0, 100% 0, 85% 60%, 15% 61%);
    height: 15vmin;
    width: 20vmin;
    background:pink;
 }

 @keyframes pijlpink-animation {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -50vh); }
  }

 main ul li:nth-of-type(5):hover div:first-of-type {
    animation-name:pijlpink-animation;
    animation-duration:0.25s;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    clip-path: polygon(44% 100%, 45% 40%, 39% 40%, 50% 16%, 61% 40%, 54% 40%, 53% 100%);
    height: 15vmin;
    width: 20vmin;
    background:purple;

 } */




/* main ul:first-of-type li:nth-of-type(2) p {
    color: darkred;
}

main ul:first-of-type li:nth-of-type(3) p {
    color: rgb(138, 107, 21);
}

main ul:first-of-type li:nth-of-type(4) p {
    color: rgb(9, 46, 9);
}

main ul:first-of-type li:nth-of-type(5) p {
    color: purple;
} */


/* ---------------------------------- vuurwerk 1 rood --------------------------------- */

/* main > div:first-of-type {
    position:absolute;
    top:10vh;
    left:25vw;
}

main div:first-of-type div {
    position:absolute;
    left: -10px;
    bottom: 0;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
    transform: rotate(calc(30deg*var(--index))) translateY(-15px);
}

main div:first-of-type div:first-child {
    --index:0;
}           

main div:first-of-type div:nth-child(2) {
    --index:1;
}

main div:first-of-type div:nth-child(3) {
    --index:2;
}

main div:first-of-type div:nth-child(4) {
    --index:3;
}

main div:first-of-type div:nth-child(5) {
    --index:4;
}

main div:first-of-type div:nth-child(6) {
    --index:5;
}

main div:first-of-type div:nth-child(7) {
    --index:6;
}

main div:first-of-type div:nth-child(8) {
    --index:7;
}

main div:first-of-type div:nth-child(9) {
    --index:8;
}

main div:first-of-type div:nth-child(10) {
    --index:9;
}

main div:first-of-type div:nth-child(11) {
    --index:10;
}

main div:first-of-type div:nth-child(12) {
    --index:11;
}


main div:first-of-type div::before {
    content:'';
    position: absolute;
    left: 0;
    right:0;
    height:40px;
    background-color:red;
    animation: explosie1 2.5s ease-in-out infinite;
}

@keyframes explosie1 {
    0% {
        top: 100%;
    }
    33%, 100% {
        top:-50%;
    }
}

/* ------------------------------ vuurwerk 2 groen --------------------------------------- */

/* /* main > div:nth-of-type(2) {
    position:absolute;
    top:25vh;
    right:30vw;
}
main div:nth-of-type(2) div {
    position:absolute;
    left: -2px;
    bottom: 0;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
    transform: rotate(calc(30deg*var(--index))) translateY(-15px);

}

main div:nth-of-type(2) div:first-child {
    --index:0;
}

main div:nth-of-type(2) div:nth-child(2) {
    --index:1;
}

main div:nth-of-type(2) div:nth-child(3) {
    --index:2;
}

main div:nth-of-type(2) div:nth-child(4) {
    --index:3;
}

main div:nth-of-type(2) div:nth-child(5) {
    --index:4;
}

main div:nth-of-type(2) div:nth-child(6) {
    --index:5;
}

main div:nth-of-type(2) div:nth-child(7) {
    --index:6;
}

main div:nth-of-type(2) div:nth-child(8) {
    --index:7;
}

main div:nth-of-type(2) div:nth-child(9) {
    --index:8;
}

main div:nth-of-type(2) div:nth-child(10) {
    --index:9;
}

main div:nth-of-type(2) div:nth-child(11) {
    --index:10;
}

main div:nth-of-type(2) div:nth-child(12) {
    --index:11;
}


main div:nth-of-type(2) div::before {
    content:'';
    position: absolute;
    left: 0;
    right:0;
    height:40px;
    background-color:rgb(30, 255, 0);
    animation: explosie2 2.5s ease-in-out infinite;
}

@keyframes explosie2 {
    0% {
        top: 100%;
    }
    33%, 100% {
        top:-50%;
    }
}



/* ------------------- vuurwerk 4 roze ------------------------ */
/* main > div:nth-of-type(4) {
    position:absolute;
    top:50vh;
    right:7vw;
}
main div:nth-of-type(4) div {
    position:absolute;
    left: -2px;
    bottom: 0;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
    transform: rotate(calc(30deg*var(--index))) translateY(-15px);

}

main div:nth-of-type(4) div:first-child {
    --index:0;
}

main div:nth-of-type(4) div:nth-child(2) {
    --index:1;
}

main div:nth-of-type(4) div:nth-child(3) {
    --index:2;
}

main div:nth-of-type(4) div:nth-child(4) {
    --index:3;
}

main div:nth-of-type(4) div:nth-child(5) {
    --index:4;
}

main div:nth-of-type(4) div:nth-child(6) {
    --index:5;
}

main div:nth-of-type(4) div:nth-child(7) {
    --index:6;
}

main div:nth-of-type(4) div:nth-child(8) {
    --index:7;
}

main div:nth-of-type(4) div:nth-child(9) {
    --index:8;
}

main div:nth-of-type(4) div:nth-child(10) {
    --index:9;
}

main div:nth-of-type(4) div:nth-child(11) {
    --index:10;
}

main div:nth-of-type(4) div:nth-child(12) {
    --index:11;
}


main div:nth-of-type(4) div::before {
    content:'';
    position: absolute;
    left: 0;
    right:0;
    height: 100px;
    width: 10px;
    border-radius: 75%;
    background-color:rgb(255, 0, 234);
    animation: explosie4 2.5s ease-in-out infinite;
    
}

main div:nth-of-type(4) > div:nth-child(2n)::before {
    background-color: rgb(255, 125, 244);
    height:75%;
}
@keyframes explosie4 {
    0% {
        top: 100%;
    }
    33%, 100% {
        top:-125%;
    }
}

/* ------------------- vuurwerk 5 geel ------------------------ */
/* main > div:nth-of-type(5) {
    position:absolute;
    top:40vh;
    right:50vw;
}
main div:nth-of-type(5) div {
    position:absolute;
    left: -2px;
    bottom: 0;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
    transform: rotate(calc(30deg*var(--index))) translateY(-5px);

}

main div:nth-of-type(5) div:first-child {
    --index:0;
}

main div:nth-of-type(5) div:nth-child(2) {
    --index:1;
}

main div:nth-of-type(5) div:nth-child(3) {
    --index:2;
}

main div:nth-of-type(5) div:nth-child(4) {
    --index:3;
}

main div:nth-of-type(5) div:nth-child(5) {
    --index:4;
}

main div:nth-of-type(5) div:nth-child(6) {
    --index:5;
}

main div:nth-of-type(5) div:nth-child(7) {
    --index:6;
}

main div:nth-of-type(5) div:nth-child(8) {
    --index:7;
}

main div:nth-of-type(5) div:nth-child(9) {
    --index:8;
}

main div:nth-of-type(5) div:nth-child(10) {
    --index:9;
}

main div:nth-of-type(5) div:nth-child(11) {
    --index:10;
}

main div:nth-of-type(5) div:nth-child(12) {
    --index:11;
}


main div:nth-of-type(5) div::before {
    content:'';
    position: absolute;
    left: 0;
    right:0;
    height: 100px;
    width: 10px;
    border-radius: 50%;
    background-color:rgb(217, 255, 0);
    animation: explosie5 2.5s ease-in-out infinite;
    
}

main div:nth-of-type(5) > div:nth-child(2n)::before {
    background-color: rgb(209, 158, 17);
    height:75%;
}
@keyframes explosie5 {
    0% {
        top: 100%;
    }
    33%, 100% {
        top:-125%;
    }
} */